:root {
  --darkBlue: #006c91;
  --lightBlue: #00bfff;
}
  
button {
  margin: 1em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card {
  background-color: var(--darkBlue);  
  color: var(--lightBlue);
  min-width: 50%;
  max-width: 50%;
}
  
h1{
  font-size: 30px;
  color: white;
}
  
.link:hover {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
}
 
.details {
  background-color: var(--lightBlue);
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 40px;
} 

  